@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    min-height: 100vh;
    background-repeat: no-repeat;

    font-family: 'Poppins', sans-serif;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    padding: 30px;
    gap: 15px;
}

main p {
    color: #FFFCF9;

    text-align: center;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    line-height: normal;

    width: 600px;
}

.title {
    font-size: 40px;
    font-weight: bolder;
    font-style: normal;
    font-weight: 700;

    text-align: center;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background: #E9E6E3;
    width: 180.984px;
    height: 47px;
    border-radius: 5px;
    border: 2px solid #1A1A1A;

    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}

.movie-desciption {
    display: flex;
    flex-direction: column; 

    gap: 10px;
}

.movies-container {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.movies-container p {
    text-align: justify;
}

#movieGenres, #movieYear{
    font-size: 15px;
    font-weight: 400;

    font-weight: bold;
}

@media screen and (max-width: 600px) { 
    .movies-container p, main p {
        width: auto;
    }

    .movie-desciption h3, .movie-desciption p {
        text-align: center;
    }

    body {
        height: auto;
    }

    main {
        gap: 30px;
    }
}

@media (max-width: 900px) {
    .movies-container p, main p {
        width: auto;
    }

    .movie-desciption h3, .movie-desciption p {
        text-align: center;
    }

    body {
        height: auto;
    }
  }